.lang-list__language {
    margin: 0;

    color: #fff;
    outline: none;
    text-decoration: none;
}

.lang-list__language:last-child {
    margin-left: 18px;
}

.lang-list__language:hover {
    opacity: 0.8;
    transition: 0.3s;
}